.form, .otpForm, .submitBox{
   padding: 2.5rem;
   border-radius: 0.25rem;
   border: 1px solid #ccc;
   background: #fff;
   color: #000000;
   font-size: 1rem;
   font-family: inherit;
   transition: border-color 200ms;
   max-width: 30rem;
   margin: 5rem auto;
   margin-bottom: 1rem;
 } @media (max-width: 768px) {
   .form, .otpForm, .submitBox{
     margin: 5rem auto;
   }
 }

 .headingContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 40rem;
  margin: auto;
  padding: 0rem 1rem;
  flex-wrap: wrap;
  margin-bottom: -5rem;
 }@media (max-width: 426px) {
   .headingContainer{
     justify-content: center;
     gap: 1rem;
   }
 }


 .submitBox{
   text-align: right;
 }
 
 .formGroup{
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
   color: black;
 }

 .formPartContainer {
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: left;
    align-items: top;
    margin: 5rem auto;
    max-width: 100rem;
    padding: 2rem;
    height: 100%;
    gap: 2rem;
    /* flex-wrap: wrap; */
 }
 .formMap{
    width: 100%;
 }
 .formForm{
    width: 100%;
    margin-top: 2.5rem;
 }
 .form.formPartContainer {
    max-width: 40rem;
 }
 .mapSearchBox{
   box-sizing: border-box;
   border: 1px solid transparent;
  width: 25rem;
  height: 40px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: relative;
  top: 10px;
  left: 10px;
 } @media screen and (max-width: 768px) {
   .mapSearchBox{
     width: 50vw;
   }
 }



 .label{
   font-size: 1rem;
   margin-bottom: 0.5rem;
 }

 .input{
   padding: 0.5rem;
   border-radius: 0.25rem;
   border: 1px solid #ccc;
   background: #fff;
   font-size: 1rem;
   font-family: inherit;
   transition: border-color 200ms;
   color: black;
 }

 .submitButton{
   padding: 0.5rem 1rem;
   border: 0;
   border-radius: 0.25rem;
   background: #2196f3;
   color: #fff;
   font-size: 1rem;
   font-family: inherit;
   cursor: pointer;
   transition: background 500ms;
   
 }

  .submitButton:hover{
      background: #0062ff;
   }

   .submitButton:disabled{
      background: #2195f37b;
      cursor: default;
   }
 .checkbox{
   margin-right: 0.5rem;
 }

 .qrContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
 }

 .qrText{
   font-size: 1rem;
   color: #333;
   margin-bottom: 0.5rem;
 }

 .otpHeading, .heading{
   font-size: 1.75rem;
   margin-bottom: 1rem;
   color: #333;
   text-align: center;
   font-weight: 600;
 }

 .subheading{
   font-size: 1.25rem;
   margin-bottom: 1rem;
   color: #333;
   text-align: center;
 }

 .resendGroup{
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: left;
   margin-top: 1rem;
 }

 .resendButton{
   cursor: pointer;
   background-color: transparent;
   border: none;
   color: #000000;
   font-size: 0.9rem;
   margin-bottom: 1rem;
   font-weight: bold;
 }

.resendButton:hover{
   text-decoration: underline;
}

.resendButtonDisabled, .resendTime{
   color: #333;
   background-color: transparent;
   border: none;
   margin-bottom: 1rem;
}

 .otpInput{
   width: 2rem;
   height: 2rem;
   margin: 0.5rem 0.5rem;
   font-size: 1.5rem;
   border-radius: 4px;
   border: 1px solid rgba(0,0,0,0.3);
   background: white;
   text-align: center;
 }

 .backButton{
   cursor: pointer;
   background-color: transparent;
   border: none;
   color: #000000;
   font-size: 1.5rem;
   margin-top: -1rem;
   position: relative;
 }

 .text{
   font-size: 1rem;
   margin-bottom: 1rem;
   color: #333;
   text-align: center;
 }

 .homeButton{
    text-align: right;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #2b2a2a;
    font-size: 1.25rem;
    margin-top: -1rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display:inline-block
 }

 .homeButton:hover{
    color: #000000;
    transform: scale(1.05);
 }